.form{
    position: absolute;
    background-color: rgb(13, 13, 13);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;    
    width: 50vw;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-shadow: 0 0 3px 1px rgb(255, 255, 255);
    border-radius: 10px;
    &__buttonFlex{
        display: flex;
        gap: 20px;
        padding: 10px;
        &--loginButton, &--signupButton{
            padding: 4px;
            font-size: 1.1rem;
            font-weight: bold;
            background: none;
            border: none;
            border-radius: 10px;
        }
        &--loginButton{
            box-shadow: 0 0 5px 2px rgb(21, 225, 21);
            color: rgb(18, 187, 18);
        }
        &--loginButton:hover{
            box-shadow: 0 0 5px 2px rgb(140, 255, 140);
            color: rgb(21, 224, 21);
        }
        &--signupButton{
            color: rgb(13, 121, 209);
            box-shadow: 0 0 5px 2px rgb(18, 141, 243);
        }
        &--signupButton:hover{
            color: rgb(41, 155, 249);
            box-shadow: 0 0 5px 2px rgb(113, 191, 255);
        }
    }
    &__loginPosition{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--label{
            position: relative;
            text-shadow: 1px 1px 2px black;
            padding: 0 2px;
            position: absolute;
            top: 23px;
            left: 10px;
            transition: all 0.2s;
        }
        &--label:before{
            content: "";
            position: absolute;
            top: 45%;
            left: 1px;
            width: 100%;
            height: 3px;
            background-color: rgb(13, 13, 13);
            z-index: -1;
        }
        &--login{
            padding: 5px;
            color: #fff;
            background: none;
            border: 1px solid rgba(255, 0, 0, 0.695);
            border-radius: 10px;
        }
    }
    &__passwordPosition{
        position: relative;
        &--label{
            padding: 0 2px;
            position: absolute;
            top: 23px;
            left: 10px;
            transition: all 0.2s;
        }
        &--label:before{
            content: "";
            position: absolute;
            top: 45%;
            left: 1px;
            width: 100%;
            height: 3px;
            background-color: rgb(13, 13, 13);
            z-index: -1;
        }
        &--password{
            padding: 5px;
            color: #fff;
            background: none;
            border: 1px solid rgba(255, 0, 0, 0.695);
            border-radius: 10px;
        }
    }
}

.popup{
    position: absolute;
    background-color: rgb(26, 171, 0);
    width: 50vw;
    padding: 30px;
    border-radius: 16px;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -500%);
    box-shadow: inset 0 -2px 0 3px rgb(20, 124, 1);
    transition: 0.2s all;
}

