.task {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px #fff solid;
  &__list {
    background: none;
    color: #fff;
    border: none;
  }
  &__shortDescription {
    overflow: scroll;
  }
}
